.whitebox
  background: #fff
  
.padded
  padding: 30px 40px
  
.clear
  overflow: hidden
  .left
    float: left
  .right
    float: right

.tabbed
  padding-top: 50px
  ul.tabs
    overflow: hidden
    font: 14px Georgia, serif
    li
      float: left
      margin-bottom: 0px
      a
        padding: 10px 10px
        margin: 5px 5px 0px 0px
        background: #9f9a9f
        color: #fff
        display: block
      a.active
        margin-top: 0px
        border-top: 5px solid #00AFDB
        background: #fff
        color: #2D212D
    li.logout
      float: right
      a
        background: none
        color: #00AFDB
      
ul.list
  margin-bottom: 20px
  line-height: 15px
  li
    padding: 5px
    border-top: 1px solid #a6a8ab
    border-bottom: 1px solid #a6a8ab
    .name
      margin-bottom: 5px
  li+li
    border-top: none

.form_element
  margin-bottom: 10px
  .label
    margin-bottom: 5px
  .errors
    color: red
    font-size: 12px
    padding-top: 5px
    
.form_element.text_field_element, .form_element.password_field_element
  input
    border: 1px solid #a6a8ab
    padding: 5px
    width: 100%
    
.form_element.text_area_element textarea
  border: 1px solid #a6a8ab
  padding: 5px
  width: 100%