.wrapper.registrations_index
  .main_content
    overflow: hidden
    padding-top: 0px
    .intro
      float: left
      width: 550px
      padding-top: 80px
      h5
        display: inline
        margin-right: 10px
      h3.join
        width: 100px
    .columns
      float: right
      width: 280px
      .flash_wrapper
        .flash_message.alert
          background: #c21a1a
          color: #fff

.registrations_create
  li.selected, li.hover
    background: #eee        
      
.users_show
  .main_content
    ul.list li
      overflow: hidden
      .label
        float: left
        width: 150px
      .value
        float: left
        width: 300px
    .list_header
      overflow: hidden
      h3
        float: left
        width: 200px
      h5
        float: right
        width: 100px
        text-align: right

.areas_show
  .main_content
    ul.list
      padding-top: 20px
      li
        padding: 10px 5px
        h4
          margin-bottom: 0px
        p.meta
          text-transform: uppercase
          font-size: 10px
          line-height: 15px
          color: #6E666E

.admin_areas_edit_borders
  #map_canvas
    #google_map
      .editor_button
        font: 12px/12px Arial,sans-serif
        background: #fff
        color: #000
        border: solid #000 2px
        margin: 5px
        padding: 2px 4px
        cursor: pointer
      .disabled
        color: #bbb
        border: solid #bbb 2px
        cursor: default
    .flash_message
      position: absolute
      z-index: 100
      padding: 2px 5px
      margin: 5px 0px 0px 70px
      font: 12px/12px Arial,sans-serif
      float: none
      border: solid #000 1px
      background-color: #c4d2a6
      color: #000
    .flash_message.alert
      background-color: #f2d9d9
      color: #c21a1a
    .region_details
      position: absolute
      z-index: 100
      padding: 2px 5px
      margin: 5px 0px 0px 200px
      font: 12px/12px Arial,sans-serif
      float: none
      border: solid #000 1px
      background-color: #a6c4d2
      color: #000

.posts
  border-bottom: 1px solid #a6a8ab
  margin-bottom: 10px
  .post
    overflow: hidden
    padding: 5px 0
    .select
      float: left
      width: 20px
    .content
      float: left
      width: 360px
      h6
        margin-bottom: 0px
      .meta
        font-size: 10px
        text-transform: uppercase
    .status
      float: left
      width: 40px
  .header
    overflow: hidden
    border-bottom: 1px solid #a6a8ab
    padding: 5px 0
    .select
      float: left
      width: 20px
    .text
      float: left
      width: 400px
      font-weight: bold
