.registrations_index
  .main_content
    margin-bottom: 80px
    .left
      width: 400px
      padding-top: 80px
      h5
        display: inline
        margin-right: 10px
    .right
      width: 350px
      h3.join
        width: 100px

.registrations_create
  .main_content
    margin-bottom: 80px
    .left
      width: 400px
      h5
        display: inline
        margin-right: 10px
      li.selected, li.hover
        background: #eee
    .right
      width: 400px
      h3.join
        width: 100px
        
.users_new, .users_create
  .main_content
    margin-bottom: 80px
    .left
      width: 400px
    .right
      width: 400px