Hi,

A new password was requested for this email address. Please ignore this if you think this email is sent to you in error.

To reset your password please follow this link:
= edit_password_url(:id => @user.perishable_token)
