%p
  Hi
%p
  A new password was requested for this email address. Please ignore this if you think this email is sent to you in error.

%h2
  = link_to 'Reset your password', edit_password_url(:id => @user.perishable_token)