%ul.tabs
  - if current_user.has_authority_to?(:manage_users)
    %li{:class => active_class(admin_users_path)}
      = link_to 'Users', admin_users_path

  - if current_user.has_authority_to?(:manage_areas)
    %li{:class => active_class(admin_areas_path)}
      = link_to 'Areas', admin_areas_path

  %li.right= link_to 'logout', logout_path
  %li.right= link_to 'Your Profile', user_path
  
  