= render :partial => 'layouts/account_nav'

.columns
  .left_column
    %h2 Edit your details
    = formatted_form_for @user, :url => user_path do |f|
      = render :partial => 'form', :locals => {:f => f}
      = f.submit 'Save', :cancel_url => link_to('cancel', user_path(@user))