.intro
  %h1 <em>Open</em>Porch 1.0
  %p Updated January 21, 2011
  %h3 <em>Open</em>Porch is an <strong>open source community</strong> building tool that Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisil
  %h5= link_to 'Download OpenPorch 1.0', ''
  %h5= link_to 'View Documentation', ''

.columns
  %h3.join
    %em Join your neighbourhood forum
  
  %h2 Demo
  = render :partial => 'address_form'
  %p
    Already have an account?
    = link_to 'Login', login_path
