.tabbed
  = render :partial => 'layouts/admin/nav'
  .clear.whitebox.padded
    .left
      %h1 Create new area

      = formatted_form_for @area, :url => [:admin, :areas] do |f|
        = render :partial => 'form', :locals => {:f => f}