%h2 Members of #{@area.name} in #{@area.city}, #{@area.state}
%h5
%ul.list
  - @memberships.each do |membership|
    %li
      %h4 
        =link_to membership.user.full_name, edit_admin_user_path(membership.user,  :area_id =>  @area.id)
      .action
