- if logged_in?
  %ul.tabs
    %li{:class => active_class(area_path(current_user.areas.first), :when => :self_only ) }
      = link_to 'Your Neighborhood Forum', area_path(current_user.areas.first)
    %li{:class => active_class(area_posts_path(current_user.areas.first),  :when => :self ) }
      = link_to 'Post a Message', new_area_post_path(current_user.areas.first)
    %li{:class => active_class(user_path(current_user))}
      = link_to 'Your Profile', user_path(current_user)
    %li.logout= link_to 'logout', logout_path