.footer
  %p
    Copyright &copy; 2011 Front Porch Forum
    %br/
    Open Porch is released under the 
    = link_to 'GNU General Public License, version 3 (GPLv3)', 'http://www.opensource.org/licenses/gpl-3.0', :target => '_blank'
    %br/
    Developed by 
    = link_to 'The Working Group','http://twg.ca', :target => '_blank'